* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #545454;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0.01%;
  height: 0.01%;
  margin: -1%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: min(80vh, 50%);
  background-color: slategrey;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(13, 13, 13, 0.3);
  padding: 4%;
  border-radius: 5%;
}

.slides {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0 auto;
}

.input_container {
  display: flex;
}

.slide__input {
  display: none;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  margin-bottom: 10%;
  box-shadow: 0 0 2em 1.5em rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  height: 70%;
}

.slide__img {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* width: 100%; */
  /* height: 80%; */
  overflow: hidden;
  opacity: 0;
  background: #ffffff;
  transition: all 0.3s;
  /* transform: translateX(100%); */
  animation: 0.3s ease-in-out;
}

#slide__input_1:checked ~ .info-container .label-container .slide__label_01,
#slide__input_2:checked ~ .info-container .label-container .slide__label_02,
#slide__input_3:checked ~ .info-container .label-container .slide__label_03,
#slide__input_4:checked ~ .info-container .label-container .slide__label_04 {
  border: 0.1rem solid #ffffff;
  background: #ffffff;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(255, 255, 255, 0.3);
}

#slide__input_1:checked ~ .img-container .slide__img_1,
#slide__input_2:checked ~ .img-container .slide__img_2,
#slide__input_3:checked ~ .img-container .slide__img_3,
#slide__input_4:checked ~ .img-container .slide__img_4 {
  opacity: 1;
  animation-name: right;
  /* order: 5; */
}

#slide__input_1:checked ~ .info-container .channel .channel-name-1,
#slide__input_2:checked ~ .info-container .channel .channel-name-2,
#slide__input_3:checked ~ .info-container .channel .channel-name-3,
#slide__input_4:checked ~ .info-container .channel .channel-name-4 {
  opacity: 1;
  animation-name: opacity;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.channel-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  animation: 0.1s ease-in-out;
  opacity: 0;
  animation: 0.3s ease-in-out;
}

.label-container {
  display: flex;
  gap: 5%;
}

.slide__label {
  display: block;
  width: 3vw;
  height: 3vw;
  border: 0.1rem solid #ffffff;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(13, 13, 13, 0.3);
  transition: all 0.05s;
}

.slide__label:hover {
  background-color: deepskyblue;
  border: 0.1rem solid deepskyblue;
}

.slide__label:active {
  background-color: #ab402e;
  border: 0.1rem solid #ab402e;
}

@keyframes right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
