* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #545454;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0.01%;
  height: 0.01%;
  margin: -1%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  height: 70%;
  background-color: slategrey;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(13, 13, 13, 0.3);
}

.slides {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.input_container {
  display: flex;
}

.slide__label {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #ffffff;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(13, 13, 13, 0.3);
}

.slide__input {
  display: none;
}

.slide__img {
  opacity: 0;
  padding: 12px;
  border: 1px solid #ffffff;
  background: #ffffff;
  transition: all 0.5s;
  transform: translateX(100%);
}

.label-container {
  display: flex;
  gap: 0.5rem;
}

.slide__label {
  transition: all 0.3s;
}

.slide__label:hover {
  background-color: deepskyblue;
  border: 0.1rem solid deepskyblue;
}

#slide__input_1:checked ~ .label-container .slide__label_01,
#slide__input_2:checked ~ .label-container .slide__label_02,
#slide__input_3:checked ~ .label-container .slide__label_03,
#slide__input_4:checked ~ .label-container .slide__label_04 {
  border: 0.1rem solid #ffffff;
  background: #ffffff;
  box-shadow: 0.2em 0.2em 1.2em 0.1em rgba(255, 255, 255, 0.3);
}

#slide__input_1:checked ~ .img-container .slide__img_1,
#slide__input_2:checked ~ .img-container .slide__img_2,
#slide__input_3:checked ~ .img-container .slide__img_3,
#slide__input_4:checked ~ .img-container .slide__img_4 {
  opacity: 1;
  transform: translateX(0);
}
